<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WuFu Music - 系统首页</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
</head>
<body>
<!--头部-->
<div class="header">
    <div class="header-left">
        <p>WuFu Music</p>
    </div>
</div>
<!--侧边框-->
<div class="sidebar">
    <ul>
        <li >
            <span><a href="/Home" class="active" style="cursor:pointer">系统首页</a></span>
        </li>
        <li >
            <span><a href="/UserManage" style="cursor:pointer">用户管理</a></span>
        </li>
        <li>
            <span><a href="/SingerManage" style="cursor:pointer">歌手管理</a></span>
        </li>
        <li >
            <span><a href="/SongListManage" style="cursor:pointer">歌单管理</a></span>
        </li>
    </ul>
</div>
<!--具体内容展示-->
<div class="page-wrapper">
    这里是系统首页
</div>

</body>
</html>