<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WuFu Music - 登陆</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="login-box">
                <div class="login-left">
                    <a>WuFu Music</a>
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>登陆</h1>
                        <form>
                            <div class="form-group">
                                <input  class="form-control" id="userName" type="text"
                                       title="请输入用户名" placeholder="用户名"/>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" id="password"
                                       title="请输入密码" placeholder="密码"/>
                            </div>

                            <div class="form-group">
                                <input type="button" class="btn btn-danger" id="btn-login" value="登陆"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="js/user/login.js"></script>
</body>
</html>